@{    
    Layout = null;
}
<br />
<div>
    <h3>Async Examples</h3>
    <div>
        @Html.ActionLink("Dont_await_long_running_code", "Dont_await_long_running_code", "Examples") &nbsp;||&nbsp;
        @Html.ActionLink("Call_Async_Code_In_NonAsync_Context", "Call_Async_Code_In_NonAsync_Context", "Examples") &nbsp;||&nbsp;
        @Html.ActionLink("Flow_Of_Execution_Example", "Flow_Of_Execution_Example", "Examples") &nbsp;||&nbsp;
        @Html.ActionLink("ReportProgress", "ReportProgress", "Examples") &nbsp;||&nbsp;
        @Html.ActionLink("Cancel", "Cancel", "Examples") &nbsp;||&nbsp;
    </div>
</div>
<div>
    <h3>Async Exercises</h3>
    <div>
        @Html.ActionLink("Flow Of Control - Exercise 1", "FlowOfControlExercise1", "Exercises") &nbsp;||&nbsp;
        @Html.ActionLink("Flow Of Control - Exercise 2", "FlowOfControlExercise2", "Exercises") &nbsp;||&nbsp;
        @Html.ActionLink("Flow Of Control - Exercise 3", "FlowOfControlExercise3", "Exercises") &nbsp;||&nbsp;
    </div>
</div>
<div>
    <h3>Async Playground (crazy experimentation)</h3>
    <div>
        @Html.ActionLink("NestedAsyncCallsNoWait", "NestedAsyncCallsNoWait", "Playground") &nbsp;||&nbsp;
        @Html.ActionLink("NestedAsyncCallsWithWait", "NestedAsyncCallsWithWait", "Playground") &nbsp;||&nbsp;
        @Html.ActionLink("PlaceATaskInADifferentContext", "PlaceATaskInADifferentContext", "Playground") &nbsp;||&nbsp;
        @Html.ActionLink("PlaceATaskInADifferentContextAndWaitForIt", "PlaceATaskInADifferentContextAndWaitForIt", "Playground") &nbsp;||&nbsp;
    </div>
    <div>
        @Html.ActionLink("FlowOfExecutionExample", "FlowOfExecutionExample", "Playground") &nbsp;||&nbsp;
        @Html.ActionLink("CreateADeadlock", "CreateADeadlock", "Playground") &nbsp;||&nbsp;
        @Html.ActionLink("EachAsyncMethodHasItsOwnContext", "EachAsyncMethodHasItsOwnContext", "Playground") &nbsp;||&nbsp;
        @Html.ActionLink("CallingCodeWhichContainsMultipleAwaits", "CallingCodeWhichContainsMultipleAwaits", "Playground") &nbsp;||&nbsp;
    </div>
    <div>
        @Html.ActionLink("CallAsyncCodeInANonAsyncContext", "CallAsyncCodeInANonAsyncContext", "Playground") &nbsp;||&nbsp;
        @Html.ActionLink("ReportProgress", "ReportProgress", "Playground") &nbsp;||&nbsp;
        @Html.ActionLink("Cancel", "Cancel", "Playground") &nbsp;||&nbsp;
    </div>
</div>
<div>
    <h3>Async Samples Using an API</h3>
    <div>
        <h4>All Products Widgets Gizmos</h4>
        @Html.ActionLink("Async PWG ", "PWGasync", "Home") &nbsp;||&nbsp;
        @Html.ActionLink("Sync PWG", "PWG", "Home") &nbsp;||&nbsp;
    </div>
    <div>
        <h4> Asynchronous Versions</h4>
        @Html.ActionLink("Widgets Async (3 seconds)", "WidgetsAsync", "Home") &nbsp;||&nbsp;
        @Html.ActionLink("Gizmos Async (10 seconds)", "GizmosAsync", "Home") &nbsp;||&nbsp;
        @Html.ActionLink("Products Async (10 milliseconds)", "ProductsAsync", "Home")
    </div>
    <div>
        <h4> Synchronous Versions</h4>
        @Html.ActionLink("Sync Widgets", "Widgets", "Home") &nbsp;||&nbsp;
        @Html.ActionLink("Sync Gizmos", "Gizmos", "Home") &nbsp;||&nbsp;
        @Html.ActionLink("Sync Products", "Products", "Home")
    </div>
    <div>
        <h4>Cancellation Tokens and Timeouts</h4>
        @Html.ActionLink("Gizmos Cancellation Token", "GizmosCancelAsync", "Home")  &nbsp;||&nbsp;
        @Html.ActionLink("PWGtimeOut Cancellation", "PWGtimeOut", "Home")
    </div>
</div>

