@{    
    Layout =null;
    }

       <br />
<h3>All Products Widgets Gizmos</h3>
      @Html.ActionLink("Async PWG ", "PWGasync") &nbsp;||&nbsp;
     @Html.ActionLink("Sync PWG", "PWG") &nbsp;||&nbsp;

        </div>
    <div>
        <h3> Asynchronous Versions</h3>
              @Html.ActionLink("Widgets Async", "WidgetsAsync") &nbsp;||&nbsp;
       @Html.ActionLink("Gizmos Async", "GizmosAsync") &nbsp;||&nbsp;
        @Html.ActionLink("Products Async", "ProductsAsync") 
    </div>
        <div>
        <h3> Synchronous Versions</h3>
       @Html.ActionLink("Sync Widgets", "Widgets") &nbsp;||&nbsp;
       @Html.ActionLink("Sync Gizmos", "Gizmos") &nbsp;||&nbsp;
        @Html.ActionLink("Sync Products", "Products") 
    </div>
<div>
    <h3> Async Playground</h3>
    @Html.ActionLink("NestedAsyncCallsNoWait", "NestedAsyncCallsNoWait") &nbsp;||&nbsp;
    @Html.ActionLink("NestedAsyncCallsWithWait", "NestedAsyncCallsWithWait") &nbsp;||&nbsp;
    @Html.ActionLink("PlaceATaskInADifferentContext", "PlaceATaskInADifferentContext") &nbsp;||&nbsp;
    @Html.ActionLink("PlaceATaskInADifferentContextAndWaitForIt", "PlaceATaskInADifferentContextAndWaitForIt") &nbsp;||&nbsp;
    @Html.ActionLink("FlowOfExecutionExample", "FlowOfExecutionExample") &nbsp;||&nbsp;
</div>
<div>
         @Html.ActionLink("Gizmos Cancellation Token", "GizmosCancelAsync")  &nbsp;||&nbsp;
     @Html.ActionLink("PWGtimeOut Cancellation", "PWGtimeOut") 
</div>
   
