@{    
    Layout =null;
    }

       <br />
<h3>All Products Widgets Gizmos</h3>
      @Html.ActionLink("Async PWG ", "PWGasync") &nbsp;||&nbsp;
     @Html.ActionLink("Sync PWG", "PWG") &nbsp;||&nbsp;

        </div>
    <div>
        <h3> Asynchronous Versions</h3>
              @Html.ActionLink("Widgets Async (3 seconds)", "WidgetsAsync") &nbsp;||&nbsp;
       @Html.ActionLink("Gizmos Async (10 seconds)", "GizmosAsync") &nbsp;||&nbsp;
        @Html.ActionLink("Products Async (10 milliseconds)", "ProductsAsync") 
    </div>
        <div>
        <h3> Synchronous Versions</h3>
       @Html.ActionLink("Sync Widgets", "Widgets") &nbsp;||&nbsp;
       @Html.ActionLink("Sync Gizmos", "Gizmos") &nbsp;||&nbsp;
        @Html.ActionLink("Sync Products", "Products") 
    </div>
<div>
    <h3> Async Playground</h3>
    <div>
        @Html.ActionLink("NestedAsyncCallsNoWait", "NestedAsyncCallsNoWait") &nbsp;||&nbsp;
        @Html.ActionLink("NestedAsyncCallsWithWait", "NestedAsyncCallsWithWait") &nbsp;||&nbsp;
        @Html.ActionLink("PlaceATaskInADifferentContext", "PlaceATaskInADifferentContext") &nbsp;||&nbsp;
        @Html.ActionLink("PlaceATaskInADifferentContextAndWaitForIt", "PlaceATaskInADifferentContextAndWaitForIt") &nbsp;||&nbsp;
    </div>
    <div>
        @Html.ActionLink("FlowOfExecutionExample", "FlowOfExecutionExample") &nbsp;||&nbsp;
        @Html.ActionLink("CreateADeadlock", "CreateADeadlock") &nbsp;||&nbsp;
        @Html.ActionLink("EachAsyncMethodHasItsOwnContext", "EachAsyncMethodHasItsOwnContext") &nbsp;||&nbsp;
        @Html.ActionLink("CallingCodeWhichContainsMultipleAwaits", "CallingCodeWhichContainsMultipleAwaits") &nbsp;||&nbsp;
    </div>
    <div>
        @Html.ActionLink("CallAsyncCodeInANonAsyncContext", "CallAsyncCodeInANonAsyncContext") &nbsp;||&nbsp;
        @Html.ActionLink("ReportProgress", "ReportProgress") &nbsp;||&nbsp;
        @Html.ActionLink("Cancel", "Cancel") &nbsp;||&nbsp;
    </div>
</div>
<div>
    <h3>Cancellation Tokens and Timeouts</h3>
     @Html.ActionLink("Gizmos Cancellation Token", "GizmosCancelAsync")  &nbsp;||&nbsp;
     @Html.ActionLink("PWGtimeOut Cancellation", "PWGtimeOut") 
</div>
   
